export PGDATABASE=users
export DATABASE_URL="postgres://stepankovalev:iamstep4ik@localhost/users?sslmode=disable"
export GOOSE_MIGRATION_DIR=db/migrations
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="$DATABASE_URL"